<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Merge Proposals/Pull Requests</title>

    <style type="text/css">
        .repowrapper{
            padding-left: 2em;
            padding-right: 2em;
        }
        .repo-state-toggle{
            margin: 1em 0;
        }
        #generated-time{
            font-size: 80%;
            margin-top: 1em;
            text-align: center;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="vendor/datatables.min.css"/>

    <script type="text/javascript" src="vendor/datatables.min.js"></script>
</head>
<body>
<br />
<div class="repowrapper">

        <div class="btn-group btn-group-justified repo-state-toggle" role="group" >
            <a href="#" id="needsreview" class="btn btn-primary">Needs Review</a>
            <a href="#" id="workinprogress" class="btn btn-default">Work in progress</a>
            <a href="#" id="reset" class="btn btn-default">All</a>
        </div>

        <table class="repo table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Repo</th>
                <th>Merge Proposal</th>
                <th>State</th>
                <th>Owner</th>
                <th>Latest Activity</th>
                <th>Age</th>
                <th>Reviews</th>
            </tr>
        </thead>
        <tbody>
        {% for repo_name, repo in repos.items() %}
            {% for pull_request in repo.pull_requests %}
                <tr data-state="{{ pull_request.state|lower }}">
                    <td data-order="{{ repo.repo_name }}" title="{{ repo.repo_name }}"><a href="{{ repo.repo_url }}">{{ repo.repo_shortname }}</a></td>
                    <td><a href="{{ pull_request.url }}">{{ pull_request.title }}</a></td>
                    <td>{{ pull_request.state }}</td>
                    <td>{{ pull_request.owner }}</td>
                    <td data-order="{{ pull_request.latest_activity }}">{{ pull_request.latest_activity_age }}</td>
                    <td data-order="{{ pull_request.date }}">{{ pull_request.age }}</td>
                    <td>
                        <table class="table table-striped table-bordered table-hover table-condensed">
                            <tbody>
                                {% for review in pull_request.reviews %}
                                <tr {% if review.state == 'Approve' or review.state == 'APPROVED' %}class="success"{% endif %}
                                    {% if review.state == 'Disapprove' or review.state == 'Needs Fixing' %}class="danger"{% endif %}
                                    {% if review.state == 'Needs Information' or review.state == 'CHANGES_REQUESTED' or review.state == 'COMMENTED' %}class="warning"{% endif %}>
                                    <td>{{ review.owner }}</td>
                                    <td>{{ review.state }}</td>
                                    <td>{{ review.age }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>

            {% endfor %}

        {% endfor %}
        </tbody>
        </table>
    </div>

    <div id="generated-time">Generated at {{ generation_time.strftime('%Y-%m-%d %H:%M:%S %Z') }}</div>

<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        var repo_data_table = $('.repo').DataTable({
             paging: false,
             order: [[ 4, "desc" ]]
        });
        function show_row_with_states(states){
            $.fn.dataTable.ext.search.pop();
            repo_data_table.draw();
            $.fn.dataTable.ext.search.push(
               function(settings, data, dataIndex) {
                  return states.indexOf($(repo_data_table.row(dataIndex).node()).attr('data-state')) !== -1;
               }
            );
            repo_data_table.draw();
        }
        $("#workinprogress").click(function(event) {
            event.preventDefault();
            $(this).addClass('btn-primary').removeClass('btn-default');
            $('#needsreview').removeClass('btn-primary').addClass('btn-default');
            $('#reset').removeClass('btn-primary').addClass('btn-default');
            show_row_with_states(["work in progress"]);
        });

        $("#needsreview").click(function(event) {
            event.preventDefault();
            $(this).addClass('btn-primary').removeClass('btn-default');
            $('#reset').removeClass('btn-primary').addClass('btn-default');
            $('#workinprogress').removeClass('btn-primary').addClass('btn-default');
            show_row_with_states(["needs review", "open"]);
        });

        show_row_with_states(["needs review", "open"]);

        $("#reset").click(function(event) {
            event.preventDefault();
            $(this).addClass('btn-primary').removeClass('btn-default');
            $('#needsreview').removeClass('btn-primary').addClass('btn-default');
            $('#workinprogress').removeClass('btn-primary').addClass('btn-default');
            $.fn.dataTable.ext.search.pop();
            repo_data_table.draw();
        });
    } );

</script>
</body>
